* {
    font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-size: 14px;
    padding: 0;
    margin: 0;
    border: 0;
    list-style-type: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
img {
    border: none;
    vertical-align: middle;
}
.hide {
    display: none;
}
.left {
    float: left;
}
/* 一般按钮 */
.btn {
    cursor: pointer;
    color: #fff;
    border-color: #417FC8;
    background: -moz-linear-gradient(top,#4a90e2 0,#4a90e2 100%);
    background: -webkit-linear-gradient(top,#4a90e2 0,#4a90e2 100%);
    background: -o-linear-gradient(top,#4a90e2 0,#4a90e2 100%);
    background: -ms-linear-gradient(top,#4a90e2 0,#4a90e2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4A90E2', endColorstr='#4A90E2', GradientType=0);
    background: linear-gradient(top,#4a90e2 0,#4a90e2 100%);
    border-radius: 3px;
    height: 28px;
    line-height: 28px;
    padding: 0px 10px;
}
/* 弹窗 */
.dialog {
    width: 50%;
    position: absolute;
    top: 10%;
    left: 20%;
    z-index: 2;
    background: white;
    border-radius: 3px;
    border: 1px solid #eec;
}
/* 弹窗上部 */
.dlg_top {
    position: relative;
    height: 28px;
    z-index: 3;
    background: #f3f3f3;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom: 1px solid #eec;
    cursor: move;
}
/* 弹窗右上角 ico */
.dlg_btn_ico {
    float: right;
    background: transparent;
    background-size: cover;
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-right: 15px;
    margin-top: 5px;
    background-repeat: no-repeat;
}
/* 弹窗右上角 ico 鼠标浮上去的样式 */
.dlg_btn_ico:hover {
    background-color: #eee;
}
/* 最小化 */
/* .dlg_btn_min_top {
    background-image: url(../images/ico_min.png);
} */
/* 最大化 */
.dlg_btn_max_top {
    background-image: url(../images/ico_max.png);
}
/* 还原 */
.dlg_btn_reback_top {
    background-image: url(../images/ico_reback.png);
}
/* 关闭 */
.dlg_btn_close_top {
    background-image: url(../images/ico_close.png);
}
/* 左上角logo */
.dlg_logo {
    margin-left: 5px;
    margin-top: -3px;
    width: 20px;
    height: 20px;
    display: inline-block; 
    vertical-align: middle;
}
/* 弹窗标题 */
.dlg_title {
    line-height: 28px;
    margin-left: 5px;
}
/* 弹窗内容 */
.dlg_content {
    position: relative;
    min-height: 300px;
    overflow-y: auto;
    margin-right: 4px;
}
/* 弹窗底部 */
.dlg_bottom {
    position: absolute;
    height: 35px;
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: 3;
    padding-top: 5px;
    background: #f3f3f3;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top: 1px solid #eec;
    text-align: center;
}
/* 缩放时右拉块 */
#dlg_right {
    width: 15px;
    height: 100%;
    float: right;
    position: absolute;
    right: 0;
    top: 0;
    cursor: e-resize;
    overflow: hidden;
    opacity: 0;
    z-index: 3;
}
/* 缩放时下拉块 */
#dlg_bottom {
    width:100%;
    height:15px;
    position:absolute;
    left:0;
    bottom:0;
    cursor:n-resize;
    overflow:hidden;
    opacity:0;
    z-index:3;
}
/* 缩放时右下拉块 */
#dlg_right_bottom{
    width:15px;
    height:15px;
    position:absolute;
    right:0;
    bottom:0;
    cursor:nw-resize;
    overflow:hidden;
    font-size:12px;
    text-align:center;
    line-height:15px;
    float:right;
    z-index:4;
}