{% extends  'nav_base.html' %}
{% block  left_content %}
{% load static %}
<div class="panel panel-default">
    <div class="panel-body">
        {% if  message %}
            <ul class="list-group">
                <li class="list-group-item password">{{ message }}</li>
            </ul>
        {% endif %}
        <form method="post" action="/user/update_pwd/{{ request.user.username }}" enctype="multipart/form-data">
            {% csrf_token %}

             <div class="form-group">
                <label for="InputOldPassword">原密码:</label>
                {{ forms.oldpassword }}
            </div>

             <div class="form-group">
                <label for="InputNewPassword1">新密码:</label>
                {{ forms.newpassword }}
            </div>

            <div class="form-group">
                <label for="InputPasswordConfirm">确认密码:</label>
                {{ forms.passwordConfirm }}
            </div>

            <button type="submit" class="btn btn-default">提交</button>

        </form>
    </div>
</div>    
{% endblock %}