{% extends  'nav_base.html' %}
{% block  left_content %}
{% load static %}
    <div class="panel panel-default">
        <div class="panel-body">
            {% if  message %}
                <ul class="list-group">
                    <li class="list-group-item info">{{ message }}</li>
                </ul>
            {% endif %}
            <form method="post" action="{% url 'user:register' %}" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    <label for="usernameInput">学号:</label>
                    {{ forms.username }}
                    <label style="color: grey; font-weight:lighter;margin-top: 10px;">
                        *我们将向您学号对应的重庆大学邮箱发送一封验证邮件以确认您的身份
                    </label>
                </div>

                <div class="form-group">
                    <label for="nicknameInput">昵称：</label>
                    {{ forms.nickname }}
                </div>

                <div class="form-group">
                    <label for="InputPassword1">密码:</label>
                    {{ forms.password }}
                </div>

                <div class="form-group">
                    <label for="InputPassword2">确认密码:</label>
                    {{ forms.passwordConfirm }}
                </div>

                <div>
                    <label>头像:</label><br>
                    <img id="avatar-preview" src="{% static 'avatar/defaultAvatar.jpg' %}" style="width: 100px; height:100px;border-radius: 50px;margin-bottom: 10px; margin-top: 10px;">
                    <input type="file" name="avatar" id ="avatar-slot">
                </div>

                <div class="form-group">
                    <br>
                    <label>为防止你是机器人，请输入验证码</label>
                    <br>
                    {{ forms.captcha }}
                </div>
                <br>
                <button type="submit" class="btn btn-default">提交</button>

            </form>
        </div>

        <script>
            // Click to refresh captcha
            $(function () {
                $('.captcha').css({
                    'cursor': 'pointer'
                })
                $('.captcha').click(function () {
                    console.log('click');
                    $.getJSON("/captcha/refresh/",
                        function (result) {
                            $('.captcha').attr('src', result['image_url']);
                            $('#id_captcha_0').val(result['key'])
                        });
                });
            })
        </script>

        <script>
            $(document).ready(function () {
                $('#avatar-slot').change(function () {
                    // 封装图片信息
                    formData = new FormData()
                    fileInfo = $('#avatar-slot')[0].files[0]
                    formData.append('file', fileInfo)
                    // 发送ajax请求
                    $.ajax({
                        async: true,
                        url: '/user/ajax/preview',
                        type: 'post',
                        headers: { "X-CSRFToken": $.cookie('csrftoken') },
                        data: formData,
                        processData: false,
                        contentType: false,
                        success: function (data) {
                            if (data != '不是图片') {
                                // 回显图片
                                console.log(data)
                                $("#avatar-preview").attr('src', data);
                                // 获取文件名
                                // pname = data.split('/')[3];
                                // 将文件名设置到隐藏域中，跟表单一起提交
                                // $('#imgname').val(pname);
                            }
                        }

                    });
                });
            });
        </script>
    </div>
{% endblock %}